		<footer>
			<div class="container-fluid">
				<div class="row-fluid">
						
			      <div class="span12 footer-links">
		            <!-- Copyright info and links -->
		            <div class="row-fluid">
		            	<div class="span2">
		            		<p>Renting</p>
		            		<ul>
					            <li><a href="javascript:void(0);">Properties for Rent</a></li>
					            <li><a href="javascript:void(0);">Open Home</a></li>
					            <li><a href="javascript:void(0);">Rental Property Alert</a></li>
					            <li><a href="javascript:void(0);">Tenancy Application Forms</a></li>
		            		</ul>
		            	</div>
		            	<div class="span2">
		            		<p>Buying</p>
		            		<ul>
					            <li><a href="javascript:void(0);">Properties for Sale</a></li>
					            <li><a href="javascript:void(0);">Sold Properties</a></li>
					            <li><a href="javascript:void(0);">Open Homes</a></li>
					            <li><a href="javascript:void(0);">Sale Property Alert</a></li>
		            		</ul>
  
			            	</div>
		            	<div class="span2">
		            		<p>About Us</p>
		            		<ul>
								<li><a href="javascript:void(0);">Home Page</a></li>
								<li><a href="javascript:void(0);">Company Profile</a></li>
								<li><a href="javascript:void(0);">Staff Profiles</a></li>
								<li><a href="javascript:void(0);">Contact Us</a></li>  
		            		</ul>
		            	</div>
		            	<div class="span2">
		            		<p>Selling</p>
		            		<ul>
					            <li><a href="javascript:void(0);">Selling your Home</a></li>
					            <li><a href="javascript:void(0);">Request Market Appraisal</a></li>
					            <li><a href="javascript:void(0);">Commercial For Sale</a></li>
					            <li><a href="javascript:void(0);">Request Market Appraisal</a></li>
		            		</ul>
		            	</div>
						<div class="span4">
							<div>
								<p>Our Tweets<i class="icon-twitter pull-right"></i></p>
								<div class="tweet"></div>	
							</div>
						</div>
		            </div>
			      </div>
			      <div class="span12 contact-info">
			      	<span class="span9">
			      		1253 Spadina Avn, Toronto ON - Canada • <strong>Phone:</strong> 1800.43.PEACH • <a href="mailto:companyName@email.com"> business@email.com</a>
			      	</span>
			      	
		      		<ul class="span3 social-network">
		      			<li><a href="javascript:void(0)"><i class="icon-linkedin-sign"></i></a></li>
		      			<li><a href="javascript:void(0)"><i class="icon-pinterest-sign"></i></a></li>
		      			<li><a href="javascript:void(0)"><i class="icon-twitter-sign"></i></a></li>
		      			<li><a href="javascript:void(0)"><i class="icon-facebook-sign"></i></a></li>
		      			<li><a href="javascript:void(0)"><i class="icon-google-plus-sign"></i></a></li>
		      		</ul>
			      	
			      </div>
			  	  <div class="clearfix"></div>
				</div><!-- end .row-fluid -->
			</div> <!-- end .container-fluid -->
		</footer>