		<section id="main">
			<!-- Slider start-->
				<div id="slide-wrapper">

					<div id="banner">  				
						<div class="oneByOne_item">                                 	
							<img src="http://jeanbrito.com/imobi/sitios/destaque/1.jpg" alt="Placeholder" class="bigImage">
							<span class="slide5Txt1" data-animate="fadeInLeftBig">Fazenda à venda</span>								
							<span class="slide5Txt2" data-animate="fadeInRightBig">R$1.000.000 | Olhos D'Agua, Taquara - RS</span>																						
						</div>	
						<div class="oneByOne_item">                                 	
							<img src="http://jeanbrito.com/imobi/sitios/destaque/2.jpg" alt="Placeholder" class="bigImage">
							<span class="slide5Txt1">Sitio à venda</span>								
							<span class="slide5Txt2">R$1.000.000 | Rio da Ilha, Taquara - RS</span>														
						</div>	
						<div class="oneByOne_item">                                 	
							<img src="http://jeanbrito.com/imobi/sitios/destaque/3.jpg" alt="Placeholder" class="bigImage">
							<span class="slide5Txt1">Chácara à venda</span>								
							<span class="slide5Txt2">R$1.000.000 | Padilha, Taquara - RS</span>													
						</div>	
						<div class="oneByOne_item">                                 	
							<img src="http://jeanbrito.com/imobi/sitios/destaque/4.jpg" alt="Placeholder" class="bigImage">
							<span class="slide5Txt1">Sítio à venda</span>								
							<span class="slide5Txt2">R$1.000.000 | Morro Alto, Taquara - RS</span>														
						</div>	
						<div class="oneByOne_item">                                 	
							<img src="http://jeanbrito.com/imobi/sitios/destaque/5.jpg" alt="Placeholder" class="bigImage">
							<span class="slide5Txt1">Fazenda à venda</span>								
							<span class="slide5Txt2">R$1.000.000 | Ilha Nova, Taquara - RS</span>														
						</div>	
					</div>    
			       
			    </div>	<!-- end slider -->		  	
			  
			<div class="body-text">
				
				<div class="container-fluid">
					
					<div class="row-fluid">
						
						<!--west pane span9-->
						<div class="span9">
							<div class="row-fluid">
								<h1>Destaques da semana</h1>
							</div>
							<div class="row-fluid hotproperties">
					                <div class="span4 set-equal-heights-js">
					                	<div class="thumbnail">
											<a href="property.html"><img src="http://jeanbrito.com/imobi/sitios/index/1.jpg" alt="Placeholder" class="thumbnail"></a>
											<div class="caption">
													<a href="property.html" class="prop-title">Property Name, Toronto ON</a>
													<p class="size">Bed: 5 • Bath: 2 • Park 2</p>
													<p class="price">$259,000</p>
											</div>
					                	</div>
					                </div>
					                <div class="span4 set-equal-heights-js">
					                	<div class="thumbnail">
											<a href="property.html"><img src="http://jeanbrito.com/imobi/sitios/index/2.jpg" alt="Placeholder" class="thumbnail"></a>
											<div class="caption">
													<a href="property.html" class="prop-title">Property Name, Toronto ON</a>
													<p class="size">Bed: 5 • Bath: 2 • Park 2</p>
													<p class="price">$259,000</p>
											</div>
					                	</div>
					                </div>
					                <div class="span4 set-equal-heights-js">
					                	<div class="thumbnail">
											<a href="property.html"><img src="http://jeanbrito.com/imobi/sitios/index/3.jpg" alt="Placeholder" class="thumbnail"></a>
											<div class="caption">
													<a href="property.html" class="prop-title">Property Name, Toronto ON</a>
													<p class="size">Bed: 5 • Bath: 2 • Park 2</p>
													<p class="price">$259,000</p>
											</div>
					                	</div>
					                </div>
					                <div class="span4 set-equal-heights-js">
					                	<div class="thumbnail">
											<a href="property.html"><img src="http://jeanbrito.com/imobi/sitios/index/4.jpg" alt="Placeholder" class="thumbnail"></a>
											<div class="caption">
													<a href="property.html" class="prop-title">Property Name, Toronto ON</a>
													<p class="size">Bed: 5 • Bath: 2 • Park 2</p>
													<p class="price">$259,000</p>
											</div>
					                	</div>
					                </div>
					                <div class="span4 set-equal-heights-js">
					                	<div class="thumbnail">
											<a href="property.html"><img src="http://jeanbrito.com/imobi/sitios/index/5.jpg" alt="Placeholder" class="thumbnail"></a>
											<div class="caption">
													<a href="property.html" class="prop-title">Property Name, Toronto ON</a>
													<p class="size">Bed: 5 • Bath: 2 • Park 2</p>
													<p class="price">$259,000</p>
											</div>
					                	</div>
					                </div>
					                <div class="span4 set-equal-heights-js">
					                	<div class="thumbnail">
											<a href="property.html"><img src="http://jeanbrito.com/imobi/sitios/index/1.jpg" alt="Placeholder" class="thumbnail"></a>
											<div class="caption">
													<a href="property.html" class="prop-title">Property Name, Toronto ON</a>
													<p class="size">Bed: 5 • Bath: 2 • Park 2</p>
													<p class="price">$259,000</p>
											</div>
					                	</div>
					                </div>
					                <div class="span4 set-equal-heights-js">
					                	<div class="thumbnail">
											<a href="property.html"><img src="http://jeanbrito.com/imobi/sitios/index/2.jpg" alt="Placeholder" class="thumbnail"></a>
											<div class="caption">
													<a href="property.html" class="prop-title">Property Name, Toronto ON</a>
													<p class="size">Bed: 5 • Bath: 2 • Park 2</p>
													<p class="price">$259,000</p>
											</div>
					                	</div>
					                </div>
					                <div class="set-equal-heights-js span4">
					                	<div class="thumbnail">
					                		<span class="sticker sticker-hot">Novidade</span>
											<a href="property.html"><img src="http://jeanbrito.com/imobi/sitios/index/3.jpg" alt="Placeholder" class="thumbnail"></a>
											<div class="caption">
													<a href="property.html" class="prop-title">Property Name, Toronto ON</a>
													<p class="size">Bed: 5 • Bath: 2 • Park 2</p>
													<p class="price">$259,000</p>
											</div>
					                	</div>
					                </div>
					                <div class="span4 set-equal-heights-js">
					                	<div class="thumbnail">
											<a href="property.html"><img src="http://jeanbrito.com/imobi/sitios/index/4.jpg" alt="Placeholder" class="thumbnail"></a>
											<div class="caption">
													<a href="property.html" class="prop-title">Property Name, Toronto ON</a>
													<p class="size">Bed: 5 • Bath: 2 • Park 2</p>
													<p class="price">$259,000</p>
											</div>
					                  	</div>
					                </div>
								<div class="clearfix"></div>
							</div>
						</div><!--end of west pane span9-->
						
						<!--east pane with width of span3-->
						<div class="span3">	
							<!--
								"Quick Search" Widget
								
								SPECIAL NOTE: Please leave the inline style for <Select></Select> "width:100%",
											  the width is automatically "Re-adjusted" with javascript
											  See "config.js" for more details	
							-->
							<div class="qbox">
				            	<h3><i class="icon-search pull-right"></i>Quick Search</h3>
								<form>
				                	<div>
				                        <label>Property Type</label>
				                        <select data-placeholder="-- For Sale --" class="chzn-select" style="width:100%;" tabindex="0">
				                            <option value="ForSale">For Sale</option>
				                            <option value="ForRent">For Rent</option>
				                            <option value="CommercialSale">Commercial For Sale</option>
				                            <option value="CommercialLease">Commercial For Lease</option>
				                        </select>
				                    </div>
				                	<div>
				                        <label>Select Province</label>
				                        <select data-placeholder="-- Select Province --" class="chzn-select" style="width:100%;" tabindex="1">
											<option value="Ontario">Ontario</option>
											<option value="Quebec">Quebec</option>
											<option value="Nova Scotia">Nova Scotia</option>
											<option value="New Brunswick">New Brunswick</option>
											<option value="Manitoba">Manitoba</option>
											<option value="British Columbia">British Columbia</option>
											<option value="Prince Edward Island">Prince Edward Island</option>
											<option value="Saskatchewan">Saskatchewan</option>
											<option value="Alberta">Alberta</option>
											<option value="Newfoundland and Labrador">Newfoundland and Labrador</option>
				                        </select>
				                    </div>
				                    <div>
				                        <label>Select a suburb</label>
				                        <select  data-placeholder="-- Available Cities --" multiple="multiple" class="chzn-select" style="width:100%;" tabindex="2">
											<option value="Guelph">Guelph</option>
											<option value="Haldimand">Haldimand</option>
											<option value="Halton Hills">Halton Hills</option>
											<option value="Hamilton">Hamilton</option>
											<option value="Hawkesbury">Hawkesbury</option>
											<option value="Huntsville">Huntsville</option>
											<option value="Ingersoll">Ingersoll</option>
											<option value="Innisfil">Innisfil (Alcona-Lefroy-Gilford)</option>
											<option value="Kawartha">Kawartha Lakes (Lindsay)</option>
											<option value="Kenora">Kenora</option>
											<option value="Kingston">Kingston</option>
											<option value="Kingsville">Kingsville</option>
											<option value="Kitchener">Kitchener</option>
											<option value="Lakeshore">Lakeshore (Belle River-Tilbury)</option>
											<option value="LaSalle">LaSalle</option>
											<option value="Leamington">Leamington</option>
											<option value="Lincoln">Lincoln (Beamsville-Vineland)</option>
											<option value="London">London</option>
											<option value="Markham">Markham</option>
											<option value="Midland">Midland</option>
											<option value="Milton">Milton</option>
											<option value="Mississauga">Mississauga</option>
											<option value="Mississippi">Mississippi Mills (Almonte)</option>
											<option value="Napanee">Napanee (Greater Napanee)</option>
											<option value="Newmarket">Newmarket</option>
											<option value="Tecumseth">New Tecumseth (Alliston)</option>
											<option value="Niagara">Niagara Falls</option>
											<option value="Niagara-lake">Niagara-on-the-Lake</option>
											<option value="Norfolk">Norfolk (Simcoe-Port Dover)</option>
											<option value="North-bay">North Bay</option>
											<option value="Oakville">Oakville</option>
											<option value="Orangeville">Orangeville</option>
											<option value="Orillia">Orillia</option>
											<option value="Oshawa">Oshawa</option>
											<option value="Ottawa">Ottawa</option>
											<option value="Owen">Owen Sound</option>
											<option value="Pelham">Pelham</option>
											<option value="Pembroke">Pembroke</option>
											<option value="Petawawa">Petawawa</option>
											<option value="Peterborough">Peterborough</option>
											<option value="Pickering">Pickering</option>
											<option value="Port-C">Port Colborne</option>
											<option value="Port-H">Port Hope</option>
											<option value="Prince">Prince Edward (Picton)</option>
											<option value="Quinte">Quinte West (Trenton)</option>
											<option value="Richmond">Richmond Hill</option>
											<option value="Sarnia">Sarnia	City</option>
											<option value="Saugeen">Saugeen Shores</option>
											<option value="Sault">Sault Ste. Marie</option>
											<option value="Catharines">St. Catharines</option>
											<option value="Thomas">St. Thomas</option>
											<option value="Stratford">Stratford</option>
											<option value="Tecumseh">Tecumseh</option>
											<option value="Temiskaming">Temiskaming Shores</option>
											<option value="Thorold">Thorold</option>
											<option value="Thunder">Thunder Bay</option>
											<option value="Tillsonburg">Tillsonburg</option>
											<option value="Timmins">Timmins</option>
											<option value="Toronto">Toronto</option>
											<option value="Vaughan">Vaughan</option>
											<option value="Wasaga">Wasaga Beach</option>
											<option value="Waterloo">Waterloo</option>
											<option value="Welland">Welland</option>
											<option value="Whitby">Whitby</option>
											<option value="Whitchurch">Whitchurch-Stouffville</option>
											<option value="Windsor">Windsor</option>
											<option value="Woodstock">Woodstock</option>
				                        </select>
				                    </div>  
				                    <div>
				                        <p>
				                            <input type="text" id="beds" readonly class="disabled">
				                        </p>
	
				                   		<div id="ui-slider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
				                        	<div class="ui-slider-range ui-widget-header"></div>
				                            <a class="ui-slider-handle ui-state-default ui-corner-all" href="javascript:void(0)"></a>
				                            <a class="ui-slider-handle ui-state-default ui-corner-all" href="javascript:void(0)"></a>
				                        </div>
				                    </div>
				                    <div>
				                        <p>
				                            <input type="text" id="amount" readonly class="disabled" style="margin-top:10px;">
				                        </p>
				                    
				                   		<div id="ui-slider-price" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
				                        	<div class="ui-slider-range ui-widget-header"></div>
				                            <a class="ui-slider-handle ui-state-default ui-corner-all" href="javascript:void(0)"></a>
				                            <a class="ui-slider-handle ui-state-default ui-corner-all" href="javascript:void(0)"></a>
				                        </div>
				                    </div>
				                    <button class="btn btn-inverse btn-small">Search</button>
				                </form>
				            </div>
				            
				            <!-- Start Zone Alert -->
				        	<div class="qbox">
				            	<h3><i class="icon-bullhorn pull-right"></i>Venda seu Imóvel</h3>
				            	<div>
				            		<p>Teremos o maior prazer em vender o seu imóvel. Entre em contato que nós ligamos para você.</p>
				                    <a data-toggle="modal" href="#myModal" class="btn btn-small">Clique aqui</a>
				            	</div>

				         </div><!-- end Zone Alert -->
	
						</div><!--end of span3-->
						
					</div>
					
				</div>
				
			</div>
		</section><!--end section-->